.nav-item .active {
    color: red !important;
    border: 1px solid#fff !important;
    // text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black !important;
    margin: 0 !important;
    padding: 0 !important;
    &:hover {
    text-shadow: -0.25px -0.25px 0 red, 0.25px 0.25px red !important;
      border: 1px solid#fff !important;
    }
}
ul, li:active, ul, li:focus  {
  outline: none;

}
.nav-item {
   margin-right: 30px;
   position: relative;
}
.nav-item:first-child a::before {
  content: '';
  position: absolute;
  display: block;
  width: 17px;
  margin: 10px;
  height: 20px;
  background: url('/img/home.png') no-repeat center/cover;
}
.nav-item:first-child {
  margin-left: 30px;
}
.nav-item:first-child a::after {
  content: '';
    display: block;
    border: 1px solid $grey;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    top: 0;
}

.linkAfter::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #dcdcdc;
  margin-left: 16px; 
}

.linkAfter, .linkAfterLast {
  color: #404040; }

.Item {
  color: #000;
  font-weight: bold; }

.nav-link {
  padding: 8px 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #404040;
  font-size: 1em;
  margin: 0 !important;
  padding: 0 !important;
  &:hover {
    border: 1px solid #fff !important;
    text-decoration: none;
    color: #000;
    text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
  }
}
.nav-tabs {
  border: 1px solid #dcdcdc !important;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
}

.nav-border {
  margin-top: 100px;
  }

.first-price {
  font-size: 1.3em;
  font-weight: bold; }