.nav-item .active {
    color: red !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.nav-link .active {
    margin: 0 !important;
    padding: 0 !important;
    &:hover {
      border: none !important;
      text-decoration: none;
      color: #ff4848 !important;
    }
}

.linkAfter::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #dcdcdc;
  margin-left: 16px; 
}

.linkAfter, .linkAfterLast {
  color: #404040; }

.Item {
  color: #000;
  font-weight: bold; }

.nav-link {
  padding: 8px 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #404040;
  font-size: 1.3em;
  margin-right: 20px; 
  &:hover {
    border: none !important;
    text-decoration: none;
    color: #000;
    text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
  }
}
.nav-tabs {
  border: none !important;
}

.nav-border {
  margin-top: 100px;
  padding: 20px 10px !important;
  border-radius: 5px; }

.first-price {
  font-size: 1.3em;
  font-weight: bold; }