@import 'reset';
@import 'variable';
@import 'fonts';
// @import 'swiper';
@import '~bootstrap/scss/bootstrap';

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body{
	font-family: $mainFontFamily;
	user-select: none;
}

li{
	list-style: none;
}
a{
	transition: .3s;
	&:hover{
		text-decoration: none;
	}
}
main{
	overflow: hidden;
	min-height: 90vh;
	// background: url('/images/bg-footer.png') bottom -300px center /100% no-repeat;
}
.navbar {
    position: relative;
    z-index: 20;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	transition: .4s ease-out;
	z-index: 10;
	&.sm{
		padding: 10px 0;
	}
	.logo{
		color: #fff;
		font-size: 26px;
	}
	nav{
       
		ul{
			li{
				list-style: none;
				a{
					display: block;
					color: #fff !important;
					font-size: 16px;
					line-height: 20px;
					padding: 13px 20px;
					border: 2px solid transparent;
					transition: .5s;
					&:hover{
						border-color: rgba(#fff, .1);
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}
}

h2{
	font-family: $robotoBold;
	font-size: 32px;
	line-height: 36px;
}

.view-more{
	color: $mainColor;
	font-size: 14px;
	line-height: 16px;
	font-family: $mainFontFamily;
	span:last-child{
		padding: 0px 5px;
		transition: .3s;
	}
	&:hover{
		text-decoration: none;
		span:last-child{
			padding: 0px 0px 0px 10px;
		}
	}
}
//menu
.menu-toggle{
	display: none;
	position: relative;
	top: 10px;
	cursor: pointer;
	min-height: 30px;
	margin-bottom: -20px;
	span{
		display: block;
		width: 20px;
		height: 2px;
		margin-top: 5px;
		background: #fff;
		transition: .5s;
	}
	&.open{
		span:nth-child(1){
			transform: rotate(45deg);
			margin-top: 15px;
		}
		span:nth-child(2){
			display: none;
		}
		span:nth-child(3){
			transform: rotate(-45deg);
			margin-top: -2px;
		}
	}
}
.responsive-menu{
	transition: .5s;
}

ul.block-list{
	font-size: 14px;
	line-height: 20px;
	color: $textColor;
	padding: 20px 0;
	li{
		list-style-position: inside;
		padding: 5px 0;
	}
}



//buttons
.login-button{
	display: inline-block;
	background: none;
	padding: 15px 35px;
	border: 2px solid $skyblue;
	color: $skyblue;
	font-size: 14px;
	line-height: 16px;
	font-family: $mainFontFamily;
	cursor: pointer;
	transition: .5s;
	&:hover{
		background: $skyblue;
		text-decoration: none;
		color: #fff;
	}
	&:focus{
		outline: none;
	}
}
.register-button{
	background: $skyblue;
	border: none;
	padding: 15px 30px;
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	font-family: $mainFontFamily;
	cursor: pointer;
	transition: .5s;
	&:hover{
		background: $mainColor;
	}
	&:focus{
		outline: none;
	}
}
//end buttons


//firstblok
.header-block{
	position: relative;
	background: #191752 url('/images/background.png') center center / cover no-repeat;
	padding: 130px 0 140px;
	background-attachment: fixed;
	min-height: 130vh;
	z-index: 0;
	&:after{
		content: "";
		position: absolute;
		bottom: -1px;
		width: 100%;
		padding: 20vh;
		background: url('/images/bg-after.png') center bottom / 100% no-repeat;
	}
	&__item{
		padding: 10% 0;
		p{
			color: rgba(#fff, .5);
			border-left: 2px solid $skyblue;
		}
	}
	h1{
		font-size: 46px;
		line-height: 56px;
		letter-spacing: 1.5px;
		color: #fff;
		font-family: $robotoBold;
	}
	&__bot{
		margin-top: 10vh;
	}
}
//endfirstblok
.popUp {
	display: none;
	position: fixed;
	background: rgba($mainColor, .6);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	&.show{
		display: block;
	}
}

button.sent span{
	position: relative;
	&:after{
		content: "";
		position: absolute;
		left: calc(100% + 15px);
		top: -5px;
		border-right: 2px solid $green;
		border-bottom: 2px solid $green;
		transform: rotate(45deg);
		animation: sent .3s forwards;
	}
}
@keyframes sent{
	0%{
		width: 0px;
		height: 0px;
		top: 10px;
	}
	50%{
		width: 10px;
		height: 0px;
		top: 10px;
	}
	100%{
		width: 10px;
		height: 15px;
		top: 0px;
	}
}
//end modals


//========================hint===========================
.hint{
	position: absolute;
	width: 20px;
	top: 0;
	right: 0;
	padding: 4px 23px 0px;
	.hint-content{
		display: none;
		background: white;
		position: absolute;
		padding: 20px;
		border-radius: 6px 6px 0 6px;
		-webkit-box-shadow: 0px 4px 21px 0px rgba(76, 65, 118, 0.16);
		box-shadow: 0px 4px 21px 0px rgba(76, 65, 118, 0.16);
		z-index: 2;
		bottom: calc(100% - 20px);
		min-width: 190px;
		margin-bottom: 20px;
		right: 10px;
		font-size: 14px;
		&:after{
			display: block;
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 8px 0;
			border-color: transparent white transparent transparent;
			z-index: 3;
			top: 100%;
			right: 0;
		}
	}
	.hint-icon{
		width: 20px;
		height: 20px;
		background: url('/images/info-icon.svg') center center no-repeat;
		cursor: pointer;
		&:hover{
			background: url('/images/Info-icon-hover.svg') center center no-repeat;
		}
	}

	&:hover .hint-content{
		display: block;
	}	
	&:hover svg path{
		fill: #ccc;
	}
}
//========================end hint=======================


//========================sections=======================
.team{
	&__top{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			border-radius: 50%;
			padding: 7.5rem;
			left: -25px;
			top: -10px;
			background: #f5f9fc;
			z-index: -1;
		}
	}
	&__image{
		border-radius: 50%;
	}
}

.affiliate{
	&__image{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding-top: 20%;
	}
	&__image-box{
		width: 300px;
		border: 15px solid #fff;
		border-width: 15px 0 0 15px;
		padding: 2rem;
	}
}

//======================end sections=====================
footer{
    position: relative;
    z-index: 20;
	color: $mainColor;
	.footer-top{

	}
	.footer-bot{
		background: #f1f5fb;
	}
}

@mixin size($size) {
    width: $size;
    height: $size;
  }
  
  @mixin abs-pos {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  html,
  body,
  canvas {
    @include size(100%);
  }
  
  body {
    @include size(100%);
    background-color: #222;
    background-image: url('https://drive.google.com/uc?export=view&id=0BzFF7FmbJUo5X0NEUXFVd0NBcWc');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &:after {
      content: '';
      @include size(100%);
      @include abs-pos;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 1;
      animation: thunder-bg 6s infinite;
    }
  }
  
  canvas {
    @include abs-pos;
  }
  
  #canvas3 {
    z-index: 5;
  }
  
  #canvas2 {
    z-index: 10;
  }
  
  #canvas1 {
    z-index: 15;
  }
  
  $color1: rgba(34,
  34,
  34,
  .9);
  $color2: rgba(59,
  59,
  59,
  .3);
  .thunder {
    @at-root {
      @-webkit-keyframes thunder-bg {
        0% {
          background-color: $color1;
        }
        9% {
          background-color: $color1;
        }
        10% {
          background-color: $color2;
        }
        10.5% {
          background-color: $color1;
        }
        80% {
          background-color: $color1;
        }
        82% {
          background-color: $color2;
        }
        83% {
          background-color: $color1;
        }
        83.5% {
          background-color: $color2;
        }
        100% {
          background-color: $color1;
        }
      }
    }
  }

@import 'media_app';