body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: #fff9f9;
}

.navbar-nav .nav-item {
  padding-right: 15px !important;
}

.nav-link {
  color: #b3b2b2 !important;
}

li .nav-item {
  padding-right: 15px !important;
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.3s;
}

.scale-enter,
.scale-leave-to {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.popUp {
  position: fixed;
  display: none;
  left: -10%;
  top: -10%;
  right: -10%;
  bottom: -10%;
  background: rgba(255, 255, 255, 0);
  z-index: 25;
}

.popUp.show {
  display: block;
}

.login,
.register,
.reset-password,
.forget-password {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 450px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.login h2,
.register h2,
.reset-password h2,
.forget-password h2 {
  margin-bottom: 30px;
}

.login .form-group,
.register .form-group,
.reset-password .form-group,
.forget-password .form-group {
  position: relative;
  margin-bottom: 30px;
}

.login .form-group input,
.register .form-group input,
.reset-password .form-group input,
.forget-password .form-group input {
  height: 40px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #dee0ed;
  padding: 0;
}

.login .form-group input:focus,
.register .form-group input:focus,
.reset-password .form-group input:focus,
.forget-password .form-group input:focus {
  box-shadow: none;
}

.login button,
.register button,
.reset-password button,
.forget-password button {
  width: 100%;
  margin-top: 30px;
  background: red;
  color: #fff;
  height: 50px;
  border: 1px solid red;
  cursor: pointer;
  transition: 0.5s;
}

.login button:focus,
.login button:hover,
.login button:focus-within,
.login button:active,
.register button:focus,
.register button:hover,
.register button:focus-within,
.register button:active,
.reset-password button:focus,
.reset-password button:hover,
.reset-password button:focus-within,
.reset-password button:active,
.forget-password button:focus,
.forget-password button:hover,
.forget-password button:focus-within,
.forget-password button:active {
  box-shadow: none;
  outline: none;
  background: none;
  color: red;
}

.login .custom-control-label:before,
.register .custom-control-label:before,
.reset-password .custom-control-label:before,
.forget-password .custom-control-label:before {
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0px;
}

.login .custom-control-label:after,
.register .custom-control-label:after,
.reset-password .custom-control-label:after,
.forget-password .custom-control-label:after {
  top: 3px;
  left: -22px;
}

.login input:checked ~ .custom-control-label:before,
.register input:checked ~ .custom-control-label:before,
.reset-password input:checked ~ .custom-control-label:before,
.forget-password input:checked ~ .custom-control-label:before {
  background-color: red !important;
}

.popup-link {
  color: red;
  font-size: 16px;
  margin-top: 30px;
}

.loginHeader {
  padding: 45px 0;
  text-align: center;
  color: #fff9f9;
  font-size: 20px;
}

.loginInputs {
  padding: 0 20px;
}

.logoImg {
  -webkit-filter: invert(1) brightness(100);
          filter: invert(1) brightness(100);
}

.footer-container {
  padding-top: 560px;
}

.link {
  color: #b3b2b2 !important;
}

.inputStyle {
  padding-left: 5px !important;
  height: 50px !important;
}

