.cruz-last_section {
	width: 100%;
}
.cruz-last_section img {
	width: 100%;
}
.text-center-last {
	margin: 100px 0;
}
.last-section_texts {
	background-color: #f8efe3;

}
.plus-details_cruz {
	display: block;
	width: 35px;
	height: 35px;
	background: $white;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	color: $black;
	font-size: 30pt;
	margin-right: 15px;
	cursor: pointer;
}
.build-yours h1 {
	margin-bottom: 30px;
}
.plus p{
	margin: 0 !important;
}